.producto-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    padding: 20px;
    background-image: url("../imagenes/fondo-espacio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: moveBackground 80s linear infinite;
  }
  
  .card-img {
    display: inline-block;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 200px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 102, 255, 0.4);
    backdrop-filter: blur(12px);
    /* Nuevos estilos para fondo defuminado */
  }
  
  .card-img:hover {
    transform: translateY(-10px);
  }
  
  .card-img img {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100px;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body-img {
    padding: 20px;
    color: #fff;
    animation: shine 3s ease-in-out infinite;
  }
  
  @keyframes shine {
    0% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    50% {
      text-shadow: 0 0 20px rgba(255, 255, 255, 1.0);
    }
    100% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }
  
  .card-title-img {
    padding: 20px;
    color: #fff;
    animation: shine 3s ease-in-out infinite;
  }